[mysqld]
innodb_flush_method=O_DSYNC
innodb_use_native_aio=OFF

innodb_buffer_pool_size = 1G
innodb_buffer_pool_chunk_size = 250M
innodb_buffer_pool_instances = 4
key_buffer_size = 64M
max_heap_table_size = 100M
tmp_table_size = 100M
innodb_log_buffer_size = 32M
innodb_log_file_size = 64M

# secure-file-priv = ""
local_infile=ON

#slow_query_log = ON
slow_query_log_file = /var/log/mysql/mysql-slow.log
# long_query_time = 1

# general_log = On
general_log_file = /var/log/mysql/mysql.log

# log_error = /var/log/mysql/mysql.err.log
